In [2]:
# Import SQLLITE3 package
import sqlite3

### Connect to database

In [3]:
connection = sqlite3.connect("classroomDB.db")
connection.close()

#### Create Table

In [ ]:
# Open Connection
connection = sqlite3.connect("classroomDB.db")

#Open Cursor
cursor = connection.cursor()

#DDL to create table

create_table = """
                CREATE TABLE classroom 
                (
                    student_id INTEGER PRIMARY KEY,
                    name VARCHAR(20),
                    gender CHAR(1),
                    physics_marks INTEGER,
                    chemistry_marks INTEGER,
                    maths_marks INTEGER
                );
        """
#Execute the Query
cursor.execute(create_table)

# Commit the changes 
connection.commit()

# Close the connection
connection.close()

#### Insert Data

In [9]:
# sample data
classroom_data = [
    (1,"Kiran","M",70,84,95),
    (2,"Srinika","M",95,95,95),
    (3,"Vishnu","M",79,89,99),
    (4,"Harsha","M",75,89,95),
]

# open connection

connection = sqlite3.connect("classroomDB.db")

# open cursor 

cursor = connection.cursor()

# Insert each student record

for student in classroom_data:
    
    insert_statement = """INSERT INTO classroom
    (student_id, name, gender, physics_marks, chemistry_marks, maths_marks) VALUES
    ({0}, "{1}", "{2}",{3},{4},{5});""".format(student[0],student[1],student[2],student[3],student[4],student[5])
    
    # Execute insert Query
    cursor.execute(insert_statement)
    
# commit the changes 
connection.commit()
# close the connection
connection.close()

In [10]:
%sql SELECT * from classroom;

UsageError: Line magic function `%sql` not found.

In [13]:
# open connection

connection = sqlite3.connect("classroomDB.db")

# open cursor 

cursor = connection.cursor()
cursor.execute("SELECT * from classroom;")
results = cursor.fetchall()

for row in results:
    print(row)

connection.close()

(1, 'Kiran', 'M', 70, 84, 95)
(2, 'Srinika', 'M', 95, 95, 95)
(3, 'Vishnu', 'M', 79, 89, 99)
(4, 'Harsha', 'M', 75, 89, 95)

### MySQL Database
##### Install package

In [1]:
!conda install -y -q pymysql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: /Users/kiran/opt/anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pymysql-1.0.2              |   py39hecd8cb5_1          78 KB
    ------------------------------------------------------------
                                           Total:          78 KB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/osx-64::pymysql-1.0.2-py39hecd8cb5_1


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

import pymysql

In [7]:
import pymysql

def mysqlconnect():
	# To connect MySQL database
	conn = pymysql.connect(
		host='localhost',
		user='groot',
		password = "****",
		db='classroomDB',
		)
	
	cur = conn.cursor()
	cur.execute("select @@version")
	output = cur.fetchall()
	print(output)
	
	# To close the connection
	conn.close()

# Driver Code
if __name__ == "__main__" :
	mysqlconnect()

(('8.0.28',),)