In [1]:
import pandas as pd

In [4]:
hep = pd.read_csv('/Users/kiran/Documents/GitHub/python/datascience/spanlabs/data/hepatitis/hepatitis.data', header=0)
hep.columns = ['Class',
               'AGE',
               'SEX',
               'STEROID',
               'ANTIVIRALS',
               'FATIGUE',
               'MALAISE',
               'ANOREXIA',
               'LIVER BIG',
               'LIVER FIRM',
               'SPLEEN PALPABLE',
               'SPIDERS',
               'ASCITES',
               'VARICES',
               'BILIRUBIN',
               'ALK PHOSPHATE',
               'SGOT',
               'ALBUMIN',
               'PROTIME',
               'HISTOLOGY',]

In [5]:
hep.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1

In [6]:
hep.dtypes

Class               int64
AGE                 int64
SEX                 int64
STEROID            object
ANTIVIRALS          int64
FATIGUE            object
MALAISE            object
ANOREXIA           object
LIVER BIG          object
LIVER FIRM         object
SPLEEN PALPABLE    object
SPIDERS            object
ASCITES            object
VARICES            object
BILIRUBIN          object
ALK PHOSPHATE      object
SGOT               object
ALBUMIN            object
PROTIME            object
HISTOLOGY           int64
dtype: object

In [10]:

for column in hep.columns:
    hep.drop(hep[hep[column] == '?'].index, inplace=True)
hep.head()

hep.BILIRUBIN = hep.BILIRUBIN.astype('float')
hep.ALBUMIN = hep.ALBUMIN.astype('float')

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
9,2,39,1,1,1,2,2,2,1,1,2,2,2,2,1.30,78,30,4.4,85,1
10,2,32,1,2,1,1,2,2,2,1,2,1,2,2,1.00,59,249,3.7,54,1
11,2,41,1,2,1,1,2,2,2,1,2,2,2,2,0.90,81,60,3.9,52,1
12,2,30,1,2,2,1,2,2,2,1,2,2,2,2,2.20,57,144,4.9,78,1

In [11]:
hep.BILIRUBIN = hep.BILIRUBIN.astype('float')
hep.ALBUMIN = hep.ALBUMIN.astype('float')

In [13]:
hep.dtypes

Class                int64
AGE                  int64
SEX                  int64
STEROID             object
ANTIVIRALS           int64
FATIGUE             object
MALAISE             object
ANOREXIA            object
LIVER BIG           object
LIVER FIRM          object
SPLEEN PALPABLE     object
SPIDERS             object
ASCITES             object
VARICES             object
BILIRUBIN          float64
ALK PHOSPHATE       object
SGOT                object
ALBUMIN            float64
PROTIME             object
HISTOLOGY            int64
dtype: object

In [14]:
for column in hep.select_dtypes(include='object'):
    hep[column] = hep[column].astype('int64')

hep.dtypes

Class                int64
AGE                  int64
SEX                  int64
STEROID              int64
ANTIVIRALS           int64
FATIGUE              int64
MALAISE              int64
ANOREXIA             int64
LIVER BIG            int64
LIVER FIRM           int64
SPLEEN PALPABLE      int64
SPIDERS              int64
ASCITES              int64
VARICES              int64
BILIRUBIN          float64
ALK PHOSPHATE        int64
SGOT                 int64
ALBUMIN            float64
PROTIME              int64
HISTOLOGY            int64
dtype: object

In [16]:
from sklearn.model_selection import train_test_split
x = hep.drop('Class', axis=1)
y = hep['Class']


x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=0)

In [17]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)

y_pred = rfc.predict(x_test)

In [18]:
from sklearn.metrics import confusion_matrix, accuracy_score
print(accuracy_score(y_test, y_pred))

0.8333333333333334